---
env:
  es6: true
  node: true
  mocha: true

extends:
  - eslint:recommended
  - plugin:lodash/recommended
  - plugin:import/errors
  - plugin:import/warnings

plugins:
  - promise
  - lodash
  - import

rules:
  indent:
    - error
    - tab
    -
      MemberExpression: off
  linebreak-style:
    - error
    - unix
  no-trailing-spaces: error
  semi:
    - error
    - always
  promise/always-return: error
  promise/no-return-wrap: error
  promise/param-names: error
  promise/catch-or-return: error
  promise/no-native: off
  promise/no-nesting: off
  promise/no-promise-in-callback: warn
  promise/no-callback-in-promise: warn
  promise/avoid-new: warn
  import/no-named-as-default: off
  lodash/import-scope: off
  lodash/preferred-alias: off
  lodash/prop-shorthand: off
  lodash/prefer-lodash-method:
    - error
    -
      ignoreObjects:
        - BbPromise
